.container-fluid {
  max-width: 1160px; }

#page-header {
  padding: 1.65em 0 0;
  margin: 0;
  background: #fff !important;
  border-bottom: none;
  height: auto; }
  #page-header a.logo {
    height: 60px;
    width: 300px;
    margin: 0; }

.navbar-inner {
  padding: 12px 0 0;
  border-top: none !important;
  background-color: #fff !important;
  border-bottom: 3px solid #1b3d57 !important; }

.nav-collapse {
  border: none; }

.logininfo,
.logininfo a {
  color: #000 !important; }

.navbar {
  border-right: none;
  background: none;
  top: auto;
  position: static; }
  .navbar .nav > li {
    margin: 0 0 -3px 0; }
    .navbar .nav > li > a {
      color: #666 !important;
      border-left: none;
      text-transform: uppercase; }
      .navbar .nav > li > a:hover {
        background: none !important;
        color: #000 !important; }
      .navbar .nav > li > a.novice {
        border-bottom: 3px solid #f06e17; }
      .navbar .nav > li > a.izobrazevanje {
        border-bottom: 3px solid #bf284b; }
      .navbar .nav > li > a.podpora {
        border-bottom: 3px solid #5fc4d0; }
      .navbar .nav > li > a.skupnosti {
        border-bottom: 3px solid #3784bf; }
        .navbar .nav > li > a.skupnosti:after {
          border-top: 8px solid #3784bf; }
      .navbar .nav > li > a.projekti {
        border-bottom: 3px solid #c6c01c; }
      .navbar .nav > li > a.zakonodaja {
        border-bottom: 3px solid #8eb25b; }
    .navbar .nav > li.selected {
      background: #3784bf;
      position: relative; }
      .navbar .nav > li.selected a {
        color: #fff !important; }
        .navbar .nav > li.selected a:after {
          width: 0;
          height: 0;
          position: absolute;
          content: "";
          display: block;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          left: 50%;
          margin: 13px 0 0 -8px; }

#mm0 {
  -moz-appearance: none;
  background: url("[[pix:theme|mobile-menu]]") no-repeat scroll right center #f6f6f6;
  border: 1px solid #BFBFBF;
  color: #222;
  cursor: pointer;
  font-size: 120%;
  line-height: 1.3;
  padding: 0.5rem;
  max-width: 20rem;
  min-width: 10rem;
  width: auto;
  height: 34px;
  overflow: hidden;
  outline: medium none; }

@media (max-width: 979px) {
  #page-header {
    padding: 1.97em 0 0; }
    #page-header a.logo {
      height: 57px;
      width: 284px; }
    #page-header .custommenus {
      display: none; } }
@media (min-width: 770px) {
  #page-header .row-fluid .span1 {
    width: 15%; }
  #page-header .row-fluid .span11 {
    width: 80%; }
  #page-header .row-fluid .logininfo {
    width: 70%;
    float: left; } }
body {
  border-top: none;
  background: #e9e9e9;
  font-family: Helvetica; }

.course-content {
  background: #fff; }

.generalbox {
  background: #fff;
  padding: 12px; }

.message .messagearea {
  float: none;
  width: 100%;
  border: none; }
.message .contactselector {
  width: 100%;
  float: none; }

#page {
  padding: 1em 0 0;
  background: none; }
  #page #page-content a {
    color: #3784BF !important; }
  #page #page-content a:hover {
    text-decoration: underline !important; }
  #page #page-content #region-main {
    padding: .5em 1em; }
    #page #page-content #region-main.span9 {
      width: 78.359%; }
  #page #page-content aside.span3 {
    width: 19.0769%; }
  #page #page-content div[role="main"] {
    padding: .5em 1em; }
  #page #page-content .block {
    padding: 0; }
    #page #page-content .block .header {
      padding: 0.5em 0 0.2em 0.5em;
      background: #1B3D57; }
      #page #page-content .block .header .title {
        border: none; }
        #page #page-content .block .header .title h2 {
          color: #fff; }
          #page #page-content .block .header .title h2:before {
            color: #fff; }
    #page #page-content .block .content {
      padding: .5em 1em; }

.block_settings .block_tree .tree_item {
  padding-left: 0; }

#page-footer {
  background: #1B3D58;
  border: none; }
  #page-footer .logos .logo {
    width: 22%;
    float: left; }
  #page-footer .line {
    border: 1px solid #3784BF;
    margin: 10px 0 0;
    clear: both; }

*, p {
  font-family: "PT Sans",Helvetica,Arial,sans-serif; }

body {
  font-size: 90%; }

h1 {
  font-size: 180%; }

h2 {
  font-size: 160%; }

h3 {
  font-size: 140%; }

.block .header .title h2:before {
  font-size: 100%; }

label, input, button, select, textarea {
  font-size: 100%; }

.navbar .nav a {
  font-size: 90%; }

/*# sourceMappingURL=sio.css.map */
