#page-footer {
    background: #1B3D58;
    border: none;
    
    .logos  {
        .logo {
            width: 22%;
            float: left;
        }
    }
    
    .line {
        border: 1px solid #3784BF;
        margin: 10px 0 0;
        clear: both;
    }
}