.slideshow {
    height: 375px;
    margin: 0 0 24px;
    overflow: hidden;
    
    .pull-left {
        float: left;
        height: 100%;
        width: 25%;
        
        #block-region-slider-left {
            margin-left: 0;
        }
    }
    
    .pull-right {
        width: 72.72%;
        height: 375px;
    }
    
}

#essentialCarousel {
    
    &.carousel {
        
        .carousel-inner {
            .item {
                height: 375px;
            }
            
            .carousel-caption {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 0;
                background: none;
                
                h4 {
                    padding: .83em .7em;
                    background: #3784BF;
                    color: #fff;
                    line-height: 30px;
                }
                
                p {
                    position: absolute;
                    bottom: 0;
                    background: rgba(220, 220, 220, 0.9);
                    color: #222;
                    padding: 1.2em;
                }
                
                .carousel-caption-inner {
                    max-width: none;
                }
            }
        }
    }
    
    .carousel-indicators {
        display: none;
    }
}