#page-site-index {
    
    #page-content {
        margin-top: 24px;
    }
    
    .span9 {
        width: 72.72%;
        margin-left: 0;
    }
                
    .span3 {
        width: 290px;
        margin: 0;
    }
    
    #middle-blocks {
        display: none;
    }
    
    .row-fluid {
        .span4 {
            width: 31.6239%;
        }
    }
}

@media (max-width: 1100px) {
    #page-site-index {
    
        .span9 {
            width: 100%;
            margin-left: 0;
        }

        .span3 {
            width: 100%;
            margin: 0;
        }

    }
    
}